.footer {

    &__row {
        display: flex;
        padding: 100px 0;
        align-items: center;

        @media(max-width:600px) {
            flex-direction: column;
            text-align: center;
        }
    }



    &__column {
        flex: 1;
    }

    &__adress {

        font-size: 14px;
        line-height: 17px;
        font-style: italic;

        p {
            &:first-child {
                font-size: 16px;
                font-weight: 700;
            }
        }


    }

    &__social {
        @media(max-width:600px) {
            padding: 20px 0;
        }
    }

    &__dev {}
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;

    &__link {
        margin: 0 8px;
    }
}

.dev {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__text {
        font-size: 14px;
        line-height: 17px;
        font-style: italic;
        color: $first_color;
        padding-right: 10px;
    }

    &__icon {}
}