.header {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
    left: 0;
    top: 0px;

    &__row {
        @media (max-width:$medium-width) {}
    }

    &__menu {
        padding-top: 35px;
    }
}

.menu {
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
            &:not(:last-child) {
                @include adaptiv-value("padding-right", 37.5, 5, 0);
            }

            &:not(:first-child) {
                @include adaptiv-value("padding-left", 37.5, 5, 0);
            }
        }
    }


    &__link {
        @include adaptiv-value("font-size", 13, 13, 0);
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #4d4959;
    }

    @media (max-width:$medium-width) {
        &__body {
            overflow: auto;
            @include adaptiv-value("padding-top", 50, 30, 0);
            padding: 0px;
            position: fixed;
            width: 100%;
            height: 100%;
            //Сдвигаем вверх выпадающее меню
            top: -100%;
            left: 0;
            transition: all 0.3s ease 0s;
            background-color: $first_color;
            text-align: center;

            &.active {
                top: 0;
            }
        }



        &__list {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;


            li {

                text-align: left;
                padding-left: 0 !important;
                padding-right: 0 !important;



                padding-bottom: 35px;



            }


        }

        .menu__icon {
            order: -1;
            align-self: center;
        }

        &__link {
            padding: 0;
            color: $third_color;
            @include adaptiv-value("font-size", 20, 16, 0);
            //position: relative;
        }

    }
}

// Иконка бургера
.icon-menu {
    display: none;

    @media (max-width:$medium-width) {
        display: block;
        position: fixed;
        top: 18px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }

    span {
        transition: all 0.3s ease 0s;
        top: 8px;
        left: 0 px;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: $first_color;

        &:first-child {
            top: 0px;
        }

        &:last-child {
            top: auto;
            bottom: 0;
        }
    }

    &.active {
        span {
            transform: scale(0);
            background-color: $third_color;

            &:first-child {
                transform: rotate(-45deg);
                top: 8px;
            }

            &:last-child {
                transform: rotate(45deg);
                bottom: 8px;
            }
        }
    }
}